.highlights_header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.highlights_container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-regular);
}
