* {
	color: var(--color-text);
}

body {
	background-color: var(--color-background);
	font-family: var(--font-family);
	color-scheme: dark;
}

p,
li {
	line-height: 1.3rem;
}

a {
	text-decoration-color: var(--color-description);
}

a:hover {
	text-decoration-color: var(--color-text);
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);
	margin: auto;
	max-width: 760px;
	min-height: 100vh;
	padding: 0 var(--spacing-regular);
}

.section_container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.section_title {
	font-size: var(--text-regular);
	font-weight: 600;
	letter-spacing: 1px;
}

.section_space {
	margin-bottom: var(--spacing-xlarge);
}

#footer {
	margin-top: auto;
}
