* {
	color: #f5f8fa;
	font-family: sans-serif;
}

body {
	background-color: #1c2d33;
}

#nav ul {
	display: flex;
	flex-direction: row;
}

ul li {
	list-style: none;
}

#nav ul li:not(:first-child) {
	margin-left: 2rem;
}
